/**
 * @file component.scss
 *   The reusable, modular parts of the design. They are the callouts, the
 *   sidebar sections, the product lists and so on.
 */
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon/icomoon.eot?-ltpp1z");
  src: url("fonts/icomoon/icomoon.eot?#iefix-ltpp1z") format("embedded-opentype"), url("fonts/icomoon/icomoon.woff?-ltpp1z") format("woff"), url("fonts/icomoon/icomoon.ttf?-ltpp1z") format("truetype"), url("fonts/icomoon/icomoon.svg?-ltpp1z#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
/**
 * Columns
 */
header .top-bar {
  background: #e2ded0;
  height: 40px;
  margin-bottom: 150px;
  overflow: hidden; }
  @media (max-width: 992px) {
    header .top-bar {
      margin-bottom: 120px; } }
  header .top-bar.open-nav {
    margin-bottom: 300px; }
  header .top-bar .nav {
    font-family: "Neuton", sans-serif; }
header .container {
  position: relative; }

.logo {
  left: 0;
  margin: 0 auto;
  max-width: 300px;
  position: absolute;
  right: 0;
  top: 15px;
  width: 300px;
  -webkit-transition: top ease-in-out .3s, width ease-in-out .3s;
  transition: top ease-in-out .3s, width ease-in-out .3s; }
  @media (max-width: 992px) {
    .logo {
      position: static; } }

.primary--navigation {
  overflow: hidden;
  padding: 10px 0;
  -webkit-transition: padding ease-in-out .3s;
  transition: padding ease-in-out .3s; }

.primary--header {
  background: #fff;
  border-bottom: 1px solid #fff;
  height: 115px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 50px;
  width: 100%;
  -webkit-transition: border-bottom ease-in-out .3s, height ease-in-out .3s;
  transition: border-bottom ease-in-out .3s, height ease-in-out .3s;
  z-index: 10; }
  @media (max-width: 992px) {
    .primary--header {
      height: 100px;
      overflow: hidden; } }
  .primary--header * {
    overflow: visible !important; }
  .primary--header.open-nav {
    height: 310px; }

.breadcrumb {
  background: none;
  text-align: left; }

.header--affix {
  background: #fff;
  border-bottom: 2px solid #e2ded0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500; }
  .header--affix .primary--navigation {
    padding: 0; }
  .header--affix .logo {
    width: 220px;
    top: 15px; }

.navigation--primary {
  padding-top: 30px;
  position: relative; }
  .navigation--primary .nav li {
    display: inline-block;
    position: static;
    vertical-align: top; }
    @media (min-width: 1200px) {
      .navigation--primary .nav li {
        min-width: 215px; } }
    .navigation--primary .nav li a,
    .navigation--primary .nav li .nolink {
      color: #254a7a;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 1em;
      min-height: 55px;
      position: relative;
      text-transform: uppercase; }
      @media (max-width: 1200px) {
        .navigation--primary .nav li a,
        .navigation--primary .nav li .nolink {
          padding: 10px; } }
      .navigation--primary .nav li a:after,
      .navigation--primary .nav li .nolink:after {
        bottom: -51px;
        content: '\e617';
        color: #e2ded0;
        display: block;
        font-family: 'icomoon';
        font-size: 5em;
        left: 0;
        margin: 0 auto;
        overflow: hidden;
        position: absolute;
        right: 0; }
      .navigation--primary .nav li a:hover, .navigation--primary .nav li a:focus, .navigation--primary .nav li a:active,
      .navigation--primary .nav li .nolink:hover,
      .navigation--primary .nav li .nolink:focus,
      .navigation--primary .nav li .nolink:active {
        background: none;
        color: #0091cf; }
    .navigation--primary .nav li ul {
      height: 0;
      opacity: 0;
      position: absolute;
      overflow: hidden !important;
      -webkit-transition: opacity ease-in-out .4s;
      transition: opacity ease-in-out .4s;
      width: 100%; }
      .navigation--primary .nav li ul.open-nav {
        display: table;
        height: 170px;
        left: 0;
        width: 1120px;
        width: 100%;
        opacity: 1; }
        @media (max-width: 1200px) {
          .navigation--primary .nav li ul.open-nav {
            width: 940px; } }
        .navigation--primary .nav li ul.open-nav li {
          display: table-cell;
          vertical-align: middle; }
          .navigation--primary .nav li ul.open-nav li a {
            min-height: 0;
            margin-bottom: 0; }
      .navigation--primary .nav li ul span {
        color: #b5ae99;
        cursor: pointer;
        font-size: 9em;
        padding: 0; }
      .navigation--primary .nav li ul a {
        padding: 0 40px; }
        .navigation--primary .nav li ul a:after {
          content: '';
          display: none; }
  .navigation--primary__left {
    float: left; }
  .navigation--primary__right {
    float: right; }

.jumbotron {
  background: none;
  padding: 0; }
  .jumbotron__banner {
    background-size: cover;
    display: table;
    min-height: 33vw;
    position: relative;
    width: 100%; }
    .jumbotron__banner .content {
      display: table-cell;
      height: 45vw;
      vertical-align: bottom;
      width: 100%; }
      .jumbotron__banner .content .field-name-field-tagline {
        background: rgba(46, 72, 120, 0.8);
        color: #fff;
        font-family: "Montserrat", serif;
        font-weight: bold;
        padding: 3vw 4vw 4vw;
        text-align: center;
        text-transform: uppercase; }
        .jumbotron__banner .content .field-name-field-tagline .field-item {
          display: block;
          font-size: 8rem;
          line-height: 1;
          margin: 0 auto;
          max-width: 900px;
          width: 100%; }
        @media (max-width: 992px) {
          .jumbotron__banner .content .field-name-field-tagline {
            padding: 5vw 4vw 13vw; } }
      .jumbotron__banner .content .field-name-field-call-to-actio,
      .jumbotron__banner .content .field-name-field-call-to-action {
        bottom: -10px;
        left: 0;
        position: absolute;
        right: 0;
        text-align: center; }
        .jumbotron__banner .content .field-name-field-call-to-actio a,
        .jumbotron__banner .content .field-name-field-call-to-action a {
          background: #85a739;
          color: #fff;
          border-radius: 5px;
          border: 2px solid #254a7a;
          padding: 20px 30px; }
        @media (max-width: 992px) {
          .jumbotron__banner .content .field-name-field-call-to-actio,
          .jumbotron__banner .content .field-name-field-call-to-action {
            bottom: 5vw; }
            .jumbotron__banner .content .field-name-field-call-to-actio a,
            .jumbotron__banner .content .field-name-field-call-to-action a {
              width: 80%; } }
    @media (max-width: 992px) {
      .jumbotron__banner {
        height: 80vw; } }
    @media (max-width: 768px) {
      .jumbotron__banner {
        height: 100vw; } }

.footer--top {
  background: #574b43;
  height: 70px;
  margin-top: 5em;
  overflow: hidden; }
  .footer--top * {
    height: inherit; }

.footer {
  background: #e2ded0;
  border: 0;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  padding-top: 40px; }
  .footer .nav {
    font-family: "Neuton", sans-serif;
    font-size: 1.6rem; }
    .footer .nav li:first-child {
      color: #574b43;
      font-family: "Montserrat", serif;
      font-size: 1.6rem; }
      .footer .nav li:first-child a {
        color: inherit; }
  .footer .region-footer {
    margin-bottom: 1.5em;
    overflow: hidden; }
  .footer .section--date {
    border-top: 1px solid #574b43;
    font-family: "Neuton", sans-serif;
    font-size: 2rem;
    padding: 50px 0 40px; }

.commerce-product-field-field-images {
  float: left;
  max-width: 650px;
  width: 100%; }

.social-media-share {
  text-align: center; }
  .social-media-share .menu li {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    width: 60px; }
    .social-media-share .menu li a {
      color: inherit;
      cursor: pointer;
      overflow: hidden;
      padding: 0;
      visibility: hidden; }
      .social-media-share .menu li a span {
        cursor: pointer;
        display: block;
        font-size: 110px;
        left: -25px;
        padding: 0;
        position: relative;
        position: relative;
        top: -20px;
        visibility: visible; }
      .social-media-share .menu li a:hover {
        opacity: .5; }

.view-try-us-at-home-block {
  border: 1px solid #2e4878;
  height: 66vh;
  margin: 3em 0;
  overflow: hidden;
  position: relative; }
  .view-try-us-at-home-block .view-content {
    height: 100%;
    margin-top: -50px; }
  .view-try-us-at-home-block .node {
    height: 100%; }
  .view-try-us-at-home-block .views-row {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%; }
  .view-try-us-at-home-block .field-name-title-field {
    background: rgba(46, 72, 120, 0.8);
    height: 50px;
    padding: 10px;
    position: relative;
    text-align: center;
    top: 50px; }
  .view-try-us-at-home-block .field-name-body {
    background: #fff;
    height: 100%;
    display: flex; }
    .view-try-us-at-home-block .field-name-body .field-items {
      margin: auto; }

.view-shopping-cart {
  float: right;
  font-size: 90%; }
  .view-shopping-cart p {
    float: left;
    left: -15px;
    margin: 0;
    padding-right: 10px;
    position: relative;
    top: 5px; }
  .view-shopping-cart .line-item-total {
    display: none; }
  .view-shopping-cart .line-item-summary {
    float: right;
    margin: 0;
    padding-right: 5px; }
    .view-shopping-cart .line-item-summary a {
      background: #b5ae99;
      border-radius: 5px;
      color: #fff;
      padding: 5px 10px; }

.top-bar .block-views {
  float: right;
  padding-right: 30px; }

.top-nav--utility {
  float: right;
  height: 30px;
  left: -4rem;
  overflow: hidden;
  position: relative;
  top: 0.2rem; }
  .top-nav--utility .nav li {
    display: inline-block; }
    .top-nav--utility .nav li a {
      color: #574b43;
      font-size: 2.1rem;
      padding: 0; }
      .top-nav--utility .nav li a:hover, .top-nav--utility .nav li a:focus, .top-nav--utility .nav li a:active {
        background: 0; }
    .top-nav--utility .nav li span {
      color: #b5ae99;
      cursor: pointer;
      display: block;
      float: left;
      padding: 0;
      position: relative;
      text-align: right;
      top: -3.2rem;
      width: 6rem; }
      .top-nav--utility .nav li span:before {
        font-size: 9.6rem;
        left: -1rem;
        position: relative; }

.panel-default {
  border: 0;
  background: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative; }
  @media (max-width: 992px) {
    .panel-default .commerce-product-field-field-images {
      max-width: 100%; }
    .panel-default img {
      width: 100%; } }
  .panel-default .panel-body {
    padding: 0; }
  .panel-default .panel-footer {
    background: rgba(46, 72, 120, 0.8);
    border: 0;
    bottom: 0;
    color: #fff;
    font-family: "Montserrat", serif;
    padding: 0;
    position: absolute;
    width: 94.8%; }
    .panel-default .panel-footer h2 {
      color: inherit;
      font-family: inherit;
      text-transform: uppercase;
      font-size: 1.8rem;
      margin: 0; }
      .panel-default .panel-footer h2 a {
        color: inherit;
        display: block;
        padding: 4% 0;
        width: 100%; }
    @media (max-width: 1200px) {
      .panel-default .panel-footer {
        width: 94%; } }
    @media (max-width: 992px) {
      .panel-default .panel-footer {
        width: 96%; } }

.block-views .block-title.block-title.block-title {
  margin: 25px auto 50px; }

.fancy {
  margin-top: 30px;
  margin-bottom: 30px; }

.fancy hr,
hr.fancy {
  border-color: #b5ae99;
  margin-left: 15px;
  margin-right: 15px;
  position: relative; }
  .fancy hr:before,
  hr.fancy:before {
    color: #b5ae99;
    content: '\e606';
    font-family: 'icomoon';
    font-size: 12rem;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: -8.7rem; }
    @media (max-width: 992px) {
      .fancy hr:before,
      hr.fancy:before {
        top: -7.7rem; } }
    @media (max-width: 768px) {
      .fancy hr:before,
      hr.fancy:before {
        top: -6.8rem; } }
  .fancy hr:after,
  hr.fancy:after {
    border: 2px solid #b5ae99;
    content: ' ';
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -2px;
    width: 80%; }

.page-node-846 .main-container {
  text-align: center; }

/*# sourceMappingURL=component.css.map */
