/**
 * @file component.scss
 *   The reusable, modular parts of the design. They are the callouts, the
 *   sidebar sections, the product lists and so on.
 */
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon/icomoon.eot?-ltpp1z");
  src: url("fonts/icomoon/icomoon.eot?#iefix-ltpp1z") format("embedded-opentype"), url("fonts/icomoon/icomoon.woff?-ltpp1z") format("woff"), url("fonts/icomoon/icomoon.ttf?-ltpp1z") format("truetype"), url("fonts/icomoon/icomoon.svg?-ltpp1z#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
/**
 * Columns
 */
header .top-bar {
  background: #e2ded0;
  height: 50px;
  margin-bottom: 150px; }
header .container {
  position: relative; }

.logo {
  left: 0;
  margin: 0 auto;
  max-width: 300px;
  position: absolute;
  right: 0;
  top: 25px;
  width: 100%;
  -webkit-transition: max-width ease-in-out .3s;
  transition: max-width ease-in-out .3s; }

.primary--navigation {
  overflow: hidden;
  padding: 20px 0;
  -webkit-transition: padding ease-in-out .3s;
  transition: padding ease-in-out .3s; }

.primary--header {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #fff;
  -webkit-transition: border-bottom ease-in-out .3s;
  transition: border-bottom ease-in-out .3s;
  z-index: 10; }

.header--affix {
  background: #fff;
  border-bottom: 2px solid #e2ded0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; }
  .header--affix .primary--navigation {
    padding: 0; }
  .header--affix .logo {
    max-width: 220px; }

.navigation--primary {
  padding-top: 30px; }
  .navigation--primary .nav li {
    display: inline-block; }
    .navigation--primary .nav li a {
      font-weight: bold;
      margin-bottom: 1em;
      min-height: 55px;
      overflow: hidden;
      position: relative;
      text-transform: uppercase; }
      .navigation--primary .nav li a:after {
        bottom: -60px;
        content: '\e617';
        color: #e2ded0;
        display: block;
        font-family: 'icomoon';
        font-size: 5em;
        left: 0;
        margin: 0 auto;
        overflow: hidden;
        position: absolute;
        right: 0; }
      .navigation--primary .nav li a:hover, .navigation--primary .nav li a:focus, .navigation--primary .nav li a:active {
        background: none;
        color: #0091cf; }
  .navigation--primary__left {
    float: left; }
  .navigation--primary__right {
    float: right; }

.jumbotron {
  background: none;
  padding: 0; }
  .jumbotron__banner {
    background-size: cover;
    display: table;
    min-height: 33vw;
    position: relative;
    width: 100%; }
    .jumbotron__banner .content {
      display: table-cell;
      height: 45vw;
      vertical-align: bottom;
      width: 100%; }
      .jumbotron__banner .content .field-name-field-tagline {
        background: rgba(46, 72, 120, 0.8);
        color: #fff;
        font-family: "Montserrat", serif;
        font-weight: bold;
        padding: 3vw 4vw 4vw;
        text-align: center;
        text-transform: uppercase; }
        .jumbotron__banner .content .field-name-field-tagline .field-item {
          display: block;
          font-size: 8rem;
          line-height: 1;
          margin: 0 auto;
          max-width: 900px;
          width: 100%; }
      .jumbotron__banner .content .field-name-field-call-to-actio,
      .jumbotron__banner .content .field-name-field-call-to-action {
        bottom: -10px;
        left: 0;
        position: absolute;
        right: 0;
        text-align: center; }
        .jumbotron__banner .content .field-name-field-call-to-actio a,
        .jumbotron__banner .content .field-name-field-call-to-action a {
          background: #85a739;
          color: #fff;
          border-radius: 5px;
          border: 2px solid #254a7a;
          padding: 20px 30px; }

.footer--top {
  background: #574b43;
  height: 70px;
  overflow: hidden; }
  .footer--top * {
    height: inherit; }

.footer {
  background: #e2ded0;
  border: 0;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  padding-top: 40px; }
  .footer .nav {
    font-family: "Merriweather", serif;
    font-size: 1.6rem; }
    .footer .nav li:first-child {
      color: #574b43;
      font-family: "Montserrat", serif;
      font-size: 1.6rem; }
      .footer .nav li:first-child a {
        color: inherit; }
  .footer .region-footer {
    margin-bottom: 1.5em;
    overflow: hidden; }
  .footer .section--date {
    border-top: 1px solid #574b43;
    padding: 50px 0 40px; }

.commerce-product-field-field-images {
  float: left;
  max-width: 650px;
  width: 100%; }

.social-media-share {
  text-align: center; }
  .social-media-share .menu li {
    color: #fff;
    display: inline-block;
    width: 60px; }
    .social-media-share .menu li a {
      color: inherit;
      overflow: hidden;
      padding: 0;
      visibility: hidden; }
      .social-media-share .menu li a span {
        display: block;
        font-size: 110px;
        left: -25px;
        padding: 0;
        position: relative;
        position: relative;
        top: -20px;
        visibility: visible; }
      .social-media-share .menu li a:hover {
        opacity: .5; }

/*# sourceMappingURL=component.css.map */
