@charset "UTF-8";
/**
 * @file component.scss
 *   The reusable, modular parts of the design. They are the callouts, the
 *   sidebar sections, the product lists and so on.
 */
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon/icomoon.eot?-ltpp1z");
  src: url("fonts/icomoon/icomoon.eot?#iefix-ltpp1z") format("embedded-opentype"), url("fonts/icomoon/icomoon.woff?-ltpp1z") format("woff"), url("fonts/icomoon/icomoon.ttf?-ltpp1z") format("truetype"), url("fonts/icomoon/icomoon.svg?-ltpp1z#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
.icon-noun_26207_cc:before {
  content: "\e60c"; }

.icon-noun-27277-cc:before {
  content: "\e60d"; }

.icon-noun-34458-cc:before {
  content: "\e60e"; }

.icon-noun-35035-cc:before {
  content: "\e60f"; }

.icon-noun-43760-cc:before {
  content: "\e610"; }

/**
 * Columns
 */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-box:before {
  content: "\e619"; }

.icon-arrow_down:before {
  content: "\e600"; }

.icon-arrow:before {
  content: "\e601"; }

.icon-california:before {
  content: "\e602"; }

.icon-care:before {
  content: "\e603"; }

.icon-cart:before {
  content: "\e604"; }

.icon-facebook:before {
  content: "\e605"; }

.icon-flourish:before {
  content: "\e606"; }

.icon-instagram:before {
  content: "\e607"; }

.icon-lifesaver:before {
  content: "\e608"; }

.icon-menu:before {
  content: "\e609"; }

.icon-minus:before {
  content: "\e60a"; }

.icon-newjersey:before {
  content: "\e60b"; }

.icon-noun_26207_cc:before {
  content: "\e60c"; }

.icon-noun_27277_cc:before {
  content: "\e60d"; }

.icon-noun_34458_cc:before {
  content: "\e60e"; }

.icon-noun_35035_cc:before {
  content: "\e60f"; }

.icon-noun_43760_cc:before {
  content: "\e610"; }

.icon-pattern:before {
  content: "\e611"; }

.icon-phone:before {
  content: "\e612"; }

.icon-pin:before {
  content: "\e613"; }

.icon-plus:before {
  content: "\e614"; }

.icon-residential:before {
  content: "\e615"; }

.icon-rhodeisland:before {
  content: "\e616"; }

.icon-triangle:before {
  content: "\e617"; }

.icon-yelp:before {
  content: "\e618"; }

.icon-home3:before {
  content: "\e902"; }

.icon-office:before {
  content: "\e903"; }

.icon-cart2:before {
  content: "\e93a"; }

.icon-lifebuoy:before {
  content: "\e941"; }

.icon-phone2:before {
  content: "\e942"; }

.icon-location:before {
  content: "\e947"; }

.icon-location2:before {
  content: "\e948"; }

.icon-calendar:before {
  content: "\e953"; }

.icon-printer:before {
  content: "\e954"; }

.icon-search:before {
  content: "\e986"; }

.icon-zoom-in:before {
  content: "\e987"; }

.icon-zoom-out:before {
  content: "\e988"; }

.icon-cog:before {
  content: "\e994"; }

.icon-attachment:before {
  content: "\e9cd"; }

.icon-star-empty:before {
  content: "\e9d7"; }

.icon-star-half:before {
  content: "\e9d8"; }

.icon-star-full:before {
  content: "\e9d9"; }

.icon-heart:before {
  content: "\e9da"; }

.icon-plus2:before {
  content: "\ea0a"; }

.icon-minus2:before {
  content: "\ea0b"; }

.icon-cross:before {
  content: "\ea0f"; }

.icon-checkmark:before {
  content: "\ea10"; }

.icon-arrow-up2:before {
  content: "\ea3a"; }

.icon-arrow-right2:before {
  content: "\ea3c"; }

.icon-arrow-down2:before {
  content: "\ea3e"; }

.icon-arrow-left2:before {
  content: "\ea40"; }

.icon-share2:before {
  content: "\ea82"; }

.btn--default, .form--contact button, .page-cart .btn-default {
  background: #85a739;
  border-radius: 5px;
  border: 2px solid #254a7a;
  color: #fff;
  font-family: "Montserrat", serif;
  padding: 20px 30px;
  text-transform: uppercase;
  -webkit-transition: background ease-in-out .3s;
  transition: background ease-in-out .3s; }
  .btn--default:hover, .form--contact button:hover, .page-cart .btn-default:hover {
    background: #75982e;
    color: #fff; }

header .top-bar {
  background: #e2ded0;
  height: 40px;
  margin-bottom: 150px;
  overflow: hidden; }
  @media (max-width: 992px) {
    header .top-bar {
      margin-bottom: 120px; } }
  header .top-bar.open-nav {
    margin-bottom: 300px; }
  header .top-bar .nav {
    font-family: "Neuton", sans-serif; }
header .container {
  position: relative; }

.logo {
  left: 0;
  margin: 0 auto;
  max-width: 300px;
  position: absolute;
  right: 0;
  top: 15px;
  width: 300px;
  -webkit-transition: top ease-in-out .3s, width ease-in-out .3s;
  transition: top ease-in-out .3s, width ease-in-out .3s; }
  @media (max-width: 992px) {
    .logo {
      position: static; } }
  @media (max-width: 410px) {
    .logo {
      padding-top: 1em;
      width: 200px; } }

.primary--navigation {
  overflow: hidden;
  padding: 10px 0;
  -webkit-transition: padding ease-in-out .3s;
  transition: padding ease-in-out .3s; }

.primary--header {
  background: #fff;
  border-bottom: 1px solid #fff;
  height: 115px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 50px;
  width: 100%;
  -webkit-transition: border-bottom ease-in-out .3s, height ease-in-out .3s;
  transition: border-bottom ease-in-out .3s, height ease-in-out .3s;
  z-index: 999; }
  @media (max-width: 992px) {
    .primary--header {
      height: 100px;
      overflow: hidden; } }
  .primary--header * {
    overflow: visible !important; }
  .primary--header.open-nav {
    height: 310px; }

.breadcrumb--container {
  border-top: 1px solid #b5ae99;
  border-bottom: 1px solid #b5ae99;
  margin: 15px 0; }

.breadcrumb {
  background: none;
  margin: 0;
  padding: 15px 10px;
  text-align: left; }
  .breadcrumb a {
    margin-right: 2em;
    position: relative;
    text-transform: capitalize; }
    .breadcrumb a:after {
      color: #e2ded0;
      content: "\e617";
      font-family: 'icomoon';
      font-size: 90px;
      position: absolute;
      right: -63px;
      top: -52px;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg); }
    .breadcrumb a:first-child:before {
      font-family: 'icomoon'; }
    .breadcrumb a:last-child {
      color: #b5ae99;
      cursor: default; }
      .breadcrumb a:last-child:after {
        display: none; }
      .breadcrumb a:last-child:hover {
        text-decoration: none; }

.header--affix {
  background: #fff;
  border-bottom: 1px solid #e2ded0;
  height: 100px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500; }
  .header--affix .primary--navigation {
    padding: 0; }
  .header--affix .navigation--primary {
    padding-top: 20px; }
  .header--affix .logo {
    width: 220px;
    top: 8px; }

.navigation--primary {
  padding-top: 30px;
  position: static; }
  .navigation--primary .nav li {
    display: inline-block;
    position: static;
    vertical-align: top; }
    @media (min-width: 1200px) {
      .navigation--primary .nav li {
        min-width: 215px; } }
    .navigation--primary .nav li a,
    .navigation--primary .nav li .nolink {
      color: #254a7a;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 1em;
      min-height: 55px;
      position: relative;
      text-transform: uppercase; }
      @media (max-width: 1200px) {
        .navigation--primary .nav li a,
        .navigation--primary .nav li .nolink {
          padding: 10px; } }
      .navigation--primary .nav li a:after,
      .navigation--primary .nav li .nolink:after {
        bottom: -51px;
        content: '\e617';
        color: #e2ded0;
        display: block;
        font-family: 'icomoon';
        font-size: 5em;
        left: 0;
        margin: 0 auto;
        overflow: hidden;
        position: absolute;
        right: 0; }
      .navigation--primary .nav li a:hover, .navigation--primary .nav li a:focus, .navigation--primary .nav li a:active,
      .navigation--primary .nav li .nolink:hover,
      .navigation--primary .nav li .nolink:focus,
      .navigation--primary .nav li .nolink:active {
        background: none;
        color: #0091cf; }
    .navigation--primary .nav li ul {
      height: 0;
      opacity: 0;
      position: absolute;
      overflow: hidden !important;
      -webkit-transition: opacity ease-in-out .4s;
      transition: opacity ease-in-out .4s;
      width: 100%; }
      .navigation--primary .nav li ul.open-nav {
        display: table;
        height: 170px;
        left: 0;
        width: 1120px;
        width: 100%;
        opacity: 1; }
        @media (max-width: 1200px) {
          .navigation--primary .nav li ul.open-nav {
            width: 940px; } }
        .navigation--primary .nav li ul.open-nav li {
          display: table-cell;
          vertical-align: middle; }
          .navigation--primary .nav li ul.open-nav li a {
            min-height: 0;
            margin-bottom: 0; }
      .navigation--primary .nav li ul span {
        color: #b5ae99;
        cursor: pointer;
        font-size: 9em;
        padding: 0; }
      .navigation--primary .nav li ul a {
        padding: 0 40px; }
        .navigation--primary .nav li ul a:after {
          content: '';
          display: none; }
  .navigation--primary__left {
    float: left; }
  .navigation--primary__right {
    float: right; }

.jumbotron {
  background: none;
  padding: 0; }
  .jumbotron__banner {
    background-size: cover;
    display: table;
    min-height: 33vw;
    position: relative;
    width: 100%; }
    .jumbotron__banner .content {
      display: table-cell;
      height: 45vw;
      vertical-align: bottom;
      width: 100%; }
      .jumbotron__banner .content .field-name-field-tagline {
        background: rgba(46, 72, 120, 0.8);
        color: #fff;
        font-family: "Montserrat", serif;
        font-weight: bold;
        padding: 3vw 4vw 4vw;
        text-align: center;
        text-transform: uppercase; }
        .jumbotron__banner .content .field-name-field-tagline .field-item {
          display: block;
          font-size: 8rem;
          line-height: 1;
          margin: 0 auto;
          max-width: 900px;
          width: 100%; }
        @media (max-width: 992px) {
          .jumbotron__banner .content .field-name-field-tagline {
            padding: 5vw 4vw 13vw; } }
      .jumbotron__banner .content .field-name-field-call-to-actio,
      .jumbotron__banner .content .field-name-field-call-to-action {
        bottom: -10px;
        left: 0;
        position: absolute;
        right: 0;
        text-align: center; }
        .jumbotron__banner .content .field-name-field-call-to-actio a,
        .jumbotron__banner .content .field-name-field-call-to-action a {
          background: #85a739;
          border-radius: 5px;
          border: 2px solid #254a7a;
          color: #fff;
          font-family: "Montserrat", serif;
          padding: 20px 30px;
          text-transform: uppercase;
          text-decoration: none;
          -webkit-transition: background ease-in-out .3s;
          transition: background ease-in-out .3s; }
          .jumbotron__banner .content .field-name-field-call-to-actio a:hover,
          .jumbotron__banner .content .field-name-field-call-to-action a:hover {
            background: #75982e; }
        @media (max-width: 992px) {
          .jumbotron__banner .content .field-name-field-call-to-actio,
          .jumbotron__banner .content .field-name-field-call-to-action {
            bottom: 5vw; }
            .jumbotron__banner .content .field-name-field-call-to-actio a,
            .jumbotron__banner .content .field-name-field-call-to-action a {
              width: 80%; } }
    @media (max-width: 992px) {
      .jumbotron__banner {
        height: 80vw; } }
    @media (max-width: 768px) {
      .jumbotron__banner {
        height: 100vw; } }

.footer--top {
  background: #574b43;
  height: 70px;
  margin-top: 5em;
  overflow: hidden; }
  .footer--top * {
    height: inherit; }

.footer {
  background: #e2ded0;
  border: 0;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  padding-top: 40px; }
  .footer .nav {
    font-family: "Neuton", sans-serif;
    font-size: 1.6rem; }
    .footer .nav li {
      font-size: 16px; }
      .footer .nav li a:hover {
        background: none;
        text-decoration: underline; }
    .footer .nav li:first-child {
      color: #574b43;
      font-family: "Montserrat", serif;
      font-size: 18px; }
      .footer .nav li:first-child a {
        color: inherit; }
  .footer .region-footer {
    margin-bottom: 1.5em;
    overflow: hidden; }
  .footer .section--date {
    border-top: 1px solid #574b43;
    font-family: "Neuton", sans-serif;
    font-size: 2rem;
    padding: 50px 0 40px; }

.commerce-product-field-field-images {
  float: left;
  max-width: 650px;
  width: 100%; }

.social-media-share {
  text-align: center; }
  .social-media-share .menu li {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    opacity: 1;
    width: 60px;
    -webkit-transition: opacity ease-in-out .3s;
    transition: opacity ease-in-out .3s; }
    .social-media-share .menu li a {
      color: inherit;
      cursor: pointer;
      overflow: hidden;
      padding: 0;
      visibility: hidden; }
      .social-media-share .menu li a span {
        cursor: pointer;
        display: block;
        font-size: 110px;
        left: -25px;
        padding: 0;
        position: relative;
        position: relative;
        top: -20px;
        visibility: visible; }
      .social-media-share .menu li a:hover {
        opacity: .5; }

.form--contact label {
  font-size: 1.6rem; }
.form--contact input {
  height: 50px;
  margin-bottom: 1.5em; }
.form--contact .block-title {
  margin-bottom: 1em;
  text-align: center; }
.form--contact .form-required {
  display: none; }
.form--contact button {
  margin: 2em auto;
  width: 100%; }

.view-try-us-at-home-block {
  border: 1px solid #2e4878;
  height: 66vh;
  margin: 3em 0;
  overflow: hidden;
  position: relative; }
  .view-try-us-at-home-block .view-content {
    height: 100%;
    margin-top: -50px; }
  .view-try-us-at-home-block .node {
    height: 100%; }
  .view-try-us-at-home-block .views-row {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%; }
  .view-try-us-at-home-block .field-name-title-field {
    background: rgba(46, 72, 120, 0.8);
    height: 50px;
    padding: 10px;
    position: relative;
    text-align: center;
    top: 50px; }
  .view-try-us-at-home-block .field-name-body {
    background: #fff;
    height: 100%;
    display: flex; }
    .view-try-us-at-home-block .field-name-body .field-items {
      margin: auto; }

.view-shopping-cart {
  float: right;
  font-size: 90%; }
  .view-shopping-cart p {
    float: left;
    left: -15px;
    margin: 0;
    padding-right: 10px;
    position: relative;
    top: 5px; }
  .view-shopping-cart .view-empty p:first-child {
    position: relative;
    top: 8px; }
    .view-shopping-cart .view-empty p:first-child:before {
      content: "\e604";
      display: none;
      font-family: 'icomoon';
      font-size: 90px;
      left: -53px;
      position: absolute;
      top: -56px; }
  .view-shopping-cart .line-item-total {
    display: none; }
  .view-shopping-cart .line-item-summary {
    float: right;
    margin: 0;
    padding-right: 5px;
    position: relative; }
    .view-shopping-cart .line-item-summary a {
      color: #574b43; }
  .view-shopping-cart .line-item-quantity-label {
    display: none; }
  .view-shopping-cart .line-item-quantity {
    padding: 9px 30px; }
    .view-shopping-cart .line-item-quantity:before {
      content: '\e604';
      color: #b5ae99;
      font-family: 'icomoon';
      font-size: 100px;
      left: -40px;
      position: absolute;
      top: -51px; }
  .view-shopping-cart .list-inline {
    clear: none;
    float: right; }
    .view-shopping-cart .list-inline a {
      background: #b5ae99;
      border-radius: 5px;
      color: #fff;
      font-family: "Montserrat", serif;
      padding: 5px 10px;
      text-transform: uppercase;
      text-decoration: none;
      -webkit-transition: background ease-in-out .3s;
      transition: background ease-in-out .3s; }
      .view-shopping-cart .list-inline a:hover {
        background: #a8a08a; }

.top-bar .block-views {
  float: right;
  padding-right: 30px; }

.top-nav--utility {
  float: right;
  height: 30px;
  left: -4rem;
  overflow: hidden;
  position: relative;
  top: 0.2rem; }
  .top-nav--utility .nav li {
    display: inline-block; }
    .top-nav--utility .nav li a {
      color: #574b43;
      font-size: 2.1rem;
      padding: 0; }
      .top-nav--utility .nav li a:hover, .top-nav--utility .nav li a:focus, .top-nav--utility .nav li a:active {
        background: 0; }
    .top-nav--utility .nav li span {
      color: #b5ae99;
      cursor: pointer;
      display: block;
      float: left;
      padding: 0;
      position: relative;
      text-align: right;
      top: -3.2rem;
      width: 6rem; }
      .top-nav--utility .nav li span:before {
        font-size: 9.6rem;
        left: -1rem;
        position: relative; }

.panel-default {
  -webkit-box-shadow: none;
  background: none;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  min-height: 290px;
  position: relative;
  text-align: center; }
  @media (max-width: 992px) {
    .panel-default .commerce-product-field-field-images {
      max-width: 100%; }
    .panel-default img {
      width: 100%; } }
  .panel-default:hover {
    cursor: pointer; }
    .panel-default:hover .panel-footer {
      background: rgba(46, 72, 120, 0.4); }
  .panel-default .panel-body {
    padding: 0; }
  .panel-default .panel-footer {
    background: rgba(46, 72, 120, 0.8);
    border: 0;
    bottom: 0;
    color: #fff;
    font-family: "Montserrat", serif;
    padding: 0;
    position: absolute;
    width: 94.8%;
    -webkit-transition: background ease-in-out .3s;
    transition: background ease-in-out .3s; }
    .panel-default .panel-footer h2 {
      color: inherit;
      font-family: inherit;
      text-transform: uppercase;
      font-size: 1.8rem;
      margin: 0; }
      .panel-default .panel-footer h2 a {
        color: inherit;
        display: block;
        padding: 4% 0;
        width: 100%;
        text-decoration: none; }
    @media (max-width: 1200px) {
      .panel-default .panel-footer {
        width: 94%; } }
    @media (max-width: 992px) {
      .panel-default .panel-footer {
        width: 96%; } }

.block-views .block-title.block-title.block-title {
  margin: 25px auto 25px; }

.fancy {
  margin-top: 30px;
  margin-bottom: 30px; }

.fancy hr,
hr.fancy {
  border-color: #b5ae99;
  margin-left: 15px;
  margin-right: 15px;
  position: relative; }
  .fancy hr:before,
  hr.fancy:before {
    color: #b5ae99;
    content: '\e606';
    font-family: 'icomoon';
    font-size: 12rem;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: -8.7rem; }
    @media (max-width: 992px) {
      .fancy hr:before,
      hr.fancy:before {
        top: -7.7rem; } }
    @media (max-width: 768px) {
      .fancy hr:before,
      hr.fancy:before {
        top: -6.8rem; } }
  .fancy hr:after,
  hr.fancy:after {
    border: 2px solid #b5ae99;
    content: ' ';
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -2px;
    width: 80%; }

hr.fancy {
  float: left;
  margin-bottom: 45px;
  margin-top: 45px;
  width: 97%; }

.page-node-846 .main-container {
  text-align: center; }

.view-header a {
  font-weight: bold;
  position: relative;
  top: -30px; }
  .view-header a:after {
    content: '\e600';
    display: inline-block;
    font-family: 'icomoon';
    font-size: 30px;
    position: relative;
    top: 6px;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg); }

.featured-quote {
  font-family: "Neuton", sans-serif;
  font-size: 2.8rem;
  font-style: italic;
  margin: 2em 0;
  text-align: center; }
  .featured-quote p {
    color: #574b43;
    line-height: 1.3;
    margin-bottom: .5em;
    margin: 0 auto;
    max-width: 91%; }
  .featured-quote .views-field-title {
    color: #e2ded0;
    font-size: 2.2rem;
    font-style: normal; }
    .featured-quote .views-field-title span:before {
      content: '—';
      margin-right: 5px; }

.block--our-story h2 {
  color: #574b43;
  font-family: "Montserrat", serif;
  font-size: 2.2rem;
  margin: 10px auto;
  text-transform: uppercase; }
.block--our-story .field-name-field-call-to-actio a,
.block--our-story .field-name-field-call-to-action a {
  font-weight: bold; }
  .block--our-story .field-name-field-call-to-actio a:after,
  .block--our-story .field-name-field-call-to-action a:after {
    content: '\e600';
    display: inline-block;
    font-family: 'icomoon';
    font-size: 30px;
    position: relative;
    top: 6px;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg); }

.homepage-grid {
  padding: 15px 30px; }
  .homepage-grid .col {
    border-bottom: 1px solid #b5ae99;
    border-right: 1px solid #b5ae99;
    height: 350px;
    padding-bottom: 30px; }
    @media (max-width: 1200px) {
      .homepage-grid .col {
        border: 0;
        height: auto; } }
    .homepage-grid .col:nth-child(2n) {
      border-right: 0; }
  .homepage-grid .row + .row .col:nth-child(1) {
    border-bottom: 0; }
  .homepage-grid .row + .row .col:nth-child(2) {
    border-bottom: 0; }
  .homepage-grid [class^="icon-"], .homepage-grid [class*=" icon-"] {
    color: #b5ae99;
    font-size: 7rem;
    position: relative;
    right: -7px; }
  .homepage-grid a {
    font-family: "Montserrat", serif;
    text-transform: uppercase; }
    .homepage-grid a:after {
      content: '\e600';
      display: inline-block;
      font-family: 'icomoon';
      font-size: 30px;
      position: relative;
      top: 6px;
      -ms-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg); }

.constrainer {
  max-width: 940px;
  margin: 0 auto;
  width: 100%; }
  .constrainer p {
    text-align: left; }
  .constrainer .field-label {
    color: #574b43;
    font-family: "Merriweather", serif;
    font-size: 2.4rem;
    font-weight: normal;
    margin-bottom: 1em; }

.product--images .cloud-zoom-gallery-thumbs {
  border-bottom: 1px solid #b5ae99;
  padding: 1.5em 0;
  text-align: center;
  width: 100%; }
  .product--images .cloud-zoom-gallery-thumbs a {
    border-radius: 50%;
    border: 2px solid #2e4878;
    display: inline-block;
    height: 17px;
    margin-right: 10px;
    width: 17px; }
    .product--images .cloud-zoom-gallery-thumbs a:last-child {
      margin-right: 0; }
    .product--images .cloud-zoom-gallery-thumbs a.active {
      background: #2e4878; }
    .product--images .cloud-zoom-gallery-thumbs a img {
      display: none; }
.product--images .cloud-zoom-container {
  width: 100%; }
  .product--images .cloud-zoom-container div[style] {
    width: 100% !important; }
    .product--images .cloud-zoom-container div[style] img {
      width: 100%; }
.product--images .field-name-field-materials .field-label {
  display: none; }
.product--images .field-name-field-materials .field-item {
  border: 1px solid #b5ae99;
  float: left;
  height: 100px;
  margin-right: 20px;
  margin-top: 1.5em;
  width: 100px; }
  .product--images .field-name-field-materials .field-item img {
    height: 100%;
    width: 100%; }

.product--description {
  padding-bottom: 60px; }
  .product--description .field-name-title-field {
    color: #4d5963;
    font-family: "Montserrat", serif;
    font-size: 3.6rem;
    margin-top: 0;
    text-transform: uppercase; }
  .product--description .form-item-quantity {
    float: left; }
  .product--description .ui-spinner {
    display: none; }
  .product--description .commerce-product-field-commerce-price {
    color: #d55d3a;
    float: right;
    font-family: "Neuton", sans-serif;
    font-size: 4rem;
    font-weight: bold; }
  .product--description button {
    background: #85a739;
    border-radius: 5px;
    border: 2px solid #254a7a;
    bottom: 0px;
    color: #fff;
    font-family: "Montserrat", serif;
    left: 0;
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px;
    position: absolute;
    text-transform: uppercase;
    width: 95%; }

.shipping-calculator {
  border-radius: 3px;
  border: 1px solid #b5ae99;
  height: 200px;
  margin-right: -7px;
  padding: 20px; }
  .shipping-calculator h3 {
    font-family: "Neuton", sans-serif;
    font-size: 2.4rem;
    margin-bottom: 1em;
    margin-top: 0; }
  .shipping-calculator input {
    height: 45px;
    width: 100%; }
    @media (min-width: 992px) {
      .shipping-calculator input {
        max-width: 100px; } }
  .shipping-calculator button {
    background: #b5ae99;
    border-radius: 3px;
    border: 0;
    color: #fff;
    font-family: "Neuton", sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 45px;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase; }
  .shipping-calculator--subtext {
    margin-top: 1em; }
    .shipping-calculator--subtext sub {
      display: block;
      line-height: 1.5; }
  .shipping-calculator ::-webkit-input-placeholder {
    font-family: "Neuton", sans-serif;
    padding-left: 10px; }
  .shipping-calculator :-moz-placeholder {
    /* Firefox 18- */
    padding-left: 10px;
    font-family: "Neuton", sans-serif; }
  .shipping-calculator ::-moz-placeholder {
    /* Firefox 19+ */
    font-family: "Neuton", sans-serif;
    padding-left: 10px; }
  .shipping-calculator :-ms-input-placeholder {
    padding-left: 10px;
    font-family: "Neuton", sans-serif; }

.pull-up--shipping {
  margin-top: 1em; }

span[style] {
  font-size: initial !important; }

.burger {
  display: none; }
  .burger:after {
    content: '\e609';
    font-family: 'icomoon';
    font-size: 90px;
    left: -26px;
    position: absolute;
    top: -45px; }
  @media (max-width: 992px) {
    .burger {
      border: 1px solid #000;
      border-radius: 5px;
      display: block;
      height: 40px;
      left: 15px;
      position: absolute;
      top: 29px;
      width: 40px; } }

.burger__cart {
  display: none; }
  .burger__cart:after {
    content: '\e604';
    font-family: 'icomoon';
    font-size: 120px;
    left: -41px;
    position: absolute;
    top: -65px; }
  @media (max-width: 992px) {
    .burger__cart {
      border: 1px solid #000;
      border-radius: 5px;
      display: block;
      height: 40px;
      position: absolute;
      right: 15px;
      top: 29px;
      width: 40px; } }

.mobile-open {
  height: auto; }
  .mobile-open .primary--navigation * {
    height: auto !important;
    opacity: 1 !important;
    position: static !important;
    width: 100% !important; }
  .mobile-open .primary--navigation ul {
    width: 100%;
    visibility: hidden; }
    .mobile-open .primary--navigation ul .nolink {
      display: none !important; }
    .mobile-open .primary--navigation ul ul {
      display: block;
      visibility: visible; }
    .mobile-open .primary--navigation ul li {
      border-bottom: 1px solid #b5ae99;
      display: inline-block !important;
      width: 100%; }

.page-cart .entity-commerce-product img {
  max-width: 300px; }

.additional-item .views-row {
  clear: both;
  display: block;
  position: relative;
  width: 100%; }
  .additional-item .views-row label {
    display: none; }
  .additional-item .views-row input {
    min-width: 35px; }
  .additional-item .views-row button {
    display: none;
    position: static; }
.additional-item .views-field-title {
  float: right;
  width: 85%; }

.add-cart-message-wrapper {
  top: 39vh; }

.all-products {
  list-style-type: none;
  padding: 0; }

.active-trail.active-trail.active-trail.active-trail {
  color: #0091cf; }

/*# sourceMappingURL=component.css.map */
