// Font size
$font-base: percentage(10 / 16);  // 1rem = 10px

// Colors
$base: #2e4878;
$base-transparent: rgba(46, 72, 120, .8);
$highlight-1: #85a739; //green
$highlight-2: #e2ded0; //top bar beige
$highlight-3: #b5ae99; //dark beige?
$highlight-4: #574b43; // brown
$highlight-5: #254a7a; //blue (links)
$highlight-6: #4d5963; // text
$highlight-7: #0091cf; // light blue

// Font stacks
$sans-serif: 'Montserrat', serif;
$serif: 'Neuton', sans-serif;
$serif-alt: 'Merriweather', serif;

// Column Widths - useful for padding
$col-1: percentage(1/12);

// Social Media colors
$twitter: #5ed0ff;
$facebook: #4974cf;
$youtube: #e44b3c;
$rss: #ff9707;


@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon/icomoon.eot?-ltpp1z');
  src:url('fonts/icomoon/icomoon.eot?#iefix-ltpp1z') format('embedded-opentype'),
    url('fonts/icomoon/icomoon.woff?-ltpp1z') format('woff'),
    url('fonts/icomoon/icomoon.ttf?-ltpp1z') format('truetype'),
    url('fonts/icomoon/icomoon.svg?-ltpp1z#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
