/**
 * @file base.scss
 *   Defaults. They are almost exclusively single element selectors but it
 *   could include attribute selectors, pseudo-class selectors, child
 *   selectors or sibling selectors. Essentially, a base style says that
 *   wherever this element is on the page, it should look like this.
 */

@import "vars";
@import "mixins";

html {
  font-size: $font-base;
  @media (max-width: 1199px) {
    // md screens; 1rem = 9px
    font-size: 56.25%;
  }
  @media (max-width: 991px) {
    // sm screens; 1rem = 8px
    font-size: 50%;
  }
  @media (max-width: 767px) {
    // xs screens; 1rem = 7px
    font-size: 43.75%;
  }
}
body {
  font-family: $serif-alt;
  font-size: 1.8em;
  font-weight: 300;
}

%fonts {
  font-family: $sans-serif;
}

h1 {
  @extend %fonts;
  font-size: 3.6rem;
}
h2 {
  @extend %fonts;
  font-size: 3.2rem;
}
h3 {
  @extend %fonts;
  font-size: 3rem;
}
h4 {
  @extend %fonts;
  font-size: 2.4rem;
}
h5 {
  @extend %fonts;
  font-size: 2rem;
}
h6 {
  @extend %fonts;
  font-size: 1.8rem;
}

a {
  color: $highlight-5;
  &:hover {
    color: $highlight-5;
    text-decoration: underline;
  }
}
p {
  color: $highlight-6;
}

img {
  height: auto;
  max-width: 100%;
}

.nav {
  font-family: $sans-serif;
}
