/**
 * @file component.scss
 *   The reusable, modular parts of the design. They are the callouts, the
 *   sidebar sections, the product lists and so on.
 */

@import "vars";
@import "mixins";

header {
  .container {
    position: relative;
  }
}

.logo {
  left: 0;
  margin: 0 auto;
  max-width: 300px;
  position: absolute;
  right: 0;
  top: 10px;
  width: 100%;
}

.navigation--primary {
  padding-top: 30px;

  .nav {

    li {
      display: inline-block;

      a {
        margin-bottom: 1em;
        position: relative;

        &:after {
          bottom: -65px;
          content: '\e617';
          display: block;
          font-family: 'icomoon';
          font-size: 5em;
          left: 0;
          margin: 0 auto;
          overflow: hidden;
          position: absolute;
          right: 0;
        }
      }
    }
  }

  &__left {
    float: left;
  }

  &__right {
    float: right;
  }
}
