/**
 * @file component.scss
 *   The reusable, modular parts of the design. They are the callouts, the
 *   sidebar sections, the product lists and so on.
 */

@import "vars";
@import "mixins";

header {

  .top-bar {
    background: $highlight-2;
    height: 40px;
    margin-bottom: 150px;
    overflow: hidden;

    @media (max-width: 992px) {
      margin-bottom: 120px;
    }

    &.open-nav {
      margin-bottom: 300px;
    }

    .nav {
      font-family: $serif;
    }
  }

  .container {
    position: relative;
  }
}

.logo {
  left: 0;
  margin: 0 auto;
  max-width: 300px;
  position: absolute;
  right: 0;
  top: 15px;
  width: 300px;
  -webkit-transition: top ease-in-out .3s, width ease-in-out .3s;
  transition: top ease-in-out .3s, width ease-in-out .3s;

  @media (max-width: 992px) {
    position: static;
  }
}

.primary--navigation {
  overflow: hidden;
  padding: 10px 0;
  -webkit-transition: padding ease-in-out .3s;
  transition: padding ease-in-out .3s;
}

.primary--header {
  background: #fff;
  border-bottom: 1px solid #fff;
  height: 115px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 50px;
  width: 100%;
  -webkit-transition: border-bottom ease-in-out .3s, height ease-in-out .3s;
  transition: border-bottom ease-in-out .3s, height ease-in-out .3s;
  z-index: 10;

  @media (max-width: 992px) {
    height: 100px;
    overflow: hidden;
  }

  * {
    overflow: visible!important;
  }

  &.open-nav {
    height: 310px;
  }
}

.breadcrumb {
  background: none;
}

.header--affix {
  background: #fff;
  border-bottom: 2px solid $highlight-2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  .primary--navigation {
    padding: 0;
  }

  .logo {
    width: 220px;
    top: 15px;
  }
}

.navigation--primary {
  padding-top: 30px;
  position: relative;

  .nav {

    li {
      display: inline-block;
      position: static;
      vertical-align: top;

      @media (min-width: 1200px) {
        min-width: 215px;
      }

      a,
      .nolink {
        color: $highlight-5;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 1em;
        min-height: 55px;
        position: relative;
        text-transform: uppercase;

        @media (max-width: 1200px) {
          padding: 10px;
        }

        &:after {
          bottom: -51px;
          content: '\e617';
          color: $highlight-2;
          display: block;
          font-family: 'icomoon';
          font-size: 5em;
          left: 0;
          margin: 0 auto;
          overflow: hidden;
          position: absolute;
          right: 0;
        }

        &:hover,
        &:focus,
        &:active {
          background: none;
          color: $highlight-7;
        }
      }

      ul {
        height: 0;
        opacity: 0;
        position: absolute;
        overflow: hidden!important;
        -webkit-transition: opacity ease-in-out .4s;
        transition: opacity ease-in-out .4s;
        width: 100%;

        &.open-nav {
          display: table;
          height: 170px;
          left: 0;
          width: 1120px;
          width: 100%;
          opacity: 1;

          @media (max-width: 1200px) {
            width: 940px;
          }

          li {
            display: table-cell;
            vertical-align: middle;

            a {
              min-height: 0;
              margin-bottom: 0;
            }
          }
        }

        span {
          color: $highlight-3;
          cursor: pointer;
          font-size: 9em;
          padding: 0;
        }


        a {
          padding: 0 40px;

          &:after {
            content: '';
            display: none;
          }
        }
      }
    }
  }

  &__left {
    float: left;
  }

  &__right {
    float: right;
  }
}

.jumbotron {
  background: none;
  padding: 0;

  &__banner {
    background-size: cover;
    display: table;
    min-height: 33vw;
    position: relative;
    width: 100%;

    .content {
      display: table-cell;
      height: 45vw;
      vertical-align: bottom;
      width: 100%;

      .field-name-field-tagline {
        background: $base-transparent;
        color: #fff;
        font-family: $sans-serif;
        font-weight: bold;
        padding: 3vw 4vw 4vw;
        text-align: center;
        text-transform: uppercase;

        .field-item {
          display: block;
          font-size: 8rem;
          line-height: 1;
          margin: 0 auto;
          max-width: 900px;
          width: 100%;
        }

        @media (max-width: 992px) {
          padding: 5vw 4vw 13vw;
        }
      }

      .field-name-field-call-to-actio,
      .field-name-field-call-to-action {
        bottom: -10px;
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;

        a {
          background: $highlight-8;
          color: #fff;
          border-radius: 5px;
          border: 2px solid $highlight-5;
          padding: 20px 30px;
        }

        @media (max-width: 992px) {
          bottom: 5vw;

          a {
            width: 80%;
          }
        }
      }
    }
    @media (max-width: 992px) {
      height: 80vw;
    }

    @media (max-width: 768px) {
      height: 100vw;
    }
  }
}

.footer--top {
  background: $highlight-4;
  height: 70px;
  margin-top: 5em;
  overflow: hidden;

  * {
    height: inherit;
  }
}

.footer {
  background: $highlight-2;
  border: 0;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  padding-top: 40px;

  .nav {
    font-family: $serif;
    font-size: 1.6rem;

    li:first-child {
      color: $highlight-4;
      font-family: $sans-serif;
      font-size: 1.6rem;

      a {
        color: inherit;
      }
    }
  }

  .region-footer {
    margin-bottom: 1.5em;
    overflow: hidden;
  }

  .section--date {
    border-top: 1px solid $highlight-4;
    font-family: $serif;
    font-size: 2rem;
    padding: 50px 0 40px;
  }
}

.commerce-product-field-field-images {
  float: left;
  max-width: 650px;
  width: 100%;
}

.social-media-share {
  text-align: center;

  .menu li {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    width: 60px;

    a {
      color: inherit;
      cursor: pointer;
      overflow: hidden;
      padding: 0;
      visibility: hidden;

      span {
        cursor: pointer;
        display: block;
        font-size: 110px;
        left: -25px;
        padding: 0;
        position: relative;
        position: relative;
        top: -20px;
        visibility: visible;
      }

      &:hover {
        opacity: .5;
      }
    }
  }
}

.form--contact {

}

.view-try-us-at-home-block {
  border: 1px solid $base;
  height: 66vh;
  margin: 3em 0;
  overflow: hidden;
  position: relative;

  .view-content {
    height: 100%;
    margin-top: -50px;
  }

  .node {
    height: 100%;
  }

  .views-row {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }

  .field-name-title-field {
    background: $base-transparent;
    height: 50px;
    padding: 10px;
    position: relative;
    text-align: center;
    top: 50px;
  }

  .field-name-body {
    background: #fff;
    height: 100%;
    display: flex;

    .field-items {
      margin: auto;
    }
  }
}

.view-shopping-cart {
  float: right;
  font-size: 90%;

  p {
    float: left;
    left: -15px;
    margin: 0;
    padding-right: 10px;
    position: relative;
    top: 5px;
  }

  .line-item-total {
    display: none;
  }

  .line-item-summary {
    float: right;
    margin: 0;
    padding-right: 5px;

    a {
      background: #b5ae99;
      border-radius: 5px;
      color: #fff;
      padding: 5px 10px;
    }
  }
}

.top-bar {
  .block-views {
    float: right;
    padding-right: 30px;
  }
}

.top-nav--utility {
  float: right;
  height: 30px;
  left: -4rem;
  overflow: hidden;
  position: relative;
  top: 0.2rem;

  .nav {
    li {
      display: inline-block;

      a {
        color: $highlight-4;
        font-size: 2.1rem;
        padding: 0;

        &:hover,
        &:focus,
        &:active {
          background: 0;
        }
      }

      span {
        color: $highlight-3;
        cursor: pointer;
        display: block;
        float: left;
        padding: 0;
        position: relative;
        text-align: right;
        top: -3.2rem;
        width: 6rem;

        &:before {
          font-size: 9.6rem;
          left: -1rem;
          position: relative;
        }
      }
    }
  }
}
