/**
 * @file layour.scss
 *   Divides the page into sections. Layouts hold one or more modules together.
 */

@import "vars";
@import "mixins";

.image-inline {
  height: auto;
  max-width: 100%;
  &.image-inline_small_left,
  &.image-inline_small_right {
    clear: both;
    width: 100%;
    @media (min-width: 768px) {
      clear: none;
      width: 30%;
    }
    @media (min-width: 992px) {
      width: 20%;
    }
  }
  &.image-inline_medium_left,
  &.image-inline_medium_right {
    clear: both;
    width: 100%;
    @media (min-width: 768px) {
      clear: none;
      width: 40%;
    }
    @media (min-width: 992px) {
      width: 48%;
    }
  }
  @media (min-width: 768px) {
    &.image-inline_small_left,
    &.image-inline_media_left {
      float: left;
      padding-right: 15px;
    }
    &.image-inline_small_right,
    &.image-inline_medium_right {
      float: right;
      padding-left: 15px;
    }
  }
}

.region-content {
  padding-bottom: 30px;
  padding-top: 30px;
}

.container-24 {
  float: left;
}

.bottom-margin {
  margin-bottom: 2em;
  margin-top: 2em;
}


// checkout flow
.customer_profile_shipping {
  float: left;
  margin-right: 15px;
  width: 66%;

  @media (max-width: 992px) {
    float: none;
    margin-right: 0;
    width: 100%;
  }
}

.customer_profile_billing {
  float: left;
  margin-right: 15px;
  width: 66%;

  @media (max-width: 992px) {
    float: none;
    margin-right: 0;
    width: 100%;
  }
}

.checkout-buttons {
  float: left;
  width: 100%;
}

.commerce_payment {
  .form-item-commerce-payment-payment-details-credit-card-number {

    @media (min-width: 992px) {
      float: left;
      padding-right: 15px;
      width: 50%;
    }
  }

  .commerce-credit-card-expiration {
    @media (min-width: 992px) { 
      float: left;
      width: 50%;

      label {
        display: block;
      }

      select {
        float: left;
        width: 44%;
      }
    }
  }
}
